{% extends "layout.html" %}


{% block body %}

<div class="container">
  <div class="row">
    <div class="col">

        <h1>Register</h1>
        <hr>

        <form action="/register" method="POST">

        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" id="name" autofocus name="name" placeholder="Select a name">

          <label>Age</label>
          <input type="text" class="form-control" id="age" autofocus name="age" placeholder="Select an age">

          <label>Key</label>
          <input type="text" class="form-control" id="key" autofocus name="key" placeholder="Select a key">

        </div>

        <div>
          <!-- <button id="butn" class="btn btn-primary">Register</button> -->
        </div>

      </form>

      <button id="butn" class="btn btn-primary">Register</button>

    </div>
  </div>
</div>


<!-- <script src="/Users/vladbortnik/avtorization_git/app-server/app/js"></script> -->
<!-- <script type="text/javascript" src="js/register.js"></script> -->

<script>

$('document').ready(function(){

$( "#butn" ).click(function() {

  console.log('clicked!!!')

  var name = $("#name").val();
  var age = $( "#age" ).val();
  var key = $( "#key" ).val();

  // THIS APPROACH DID NOT WORK
  // var name = document.getElementById("name");
  // var age = document.getElementById("age");
  // var key = document.getElementById("key");

  console.log(age)

// THIS METHOD CREATES POST REUEST WITH
// ((( 'URL'(must), data (optional), **kwords (optional) )))
// ((( ... )))  --->>  SYXTAX IS WRONG
// THIS IS NOT A REAL SYNTAX.
  axios.post(

  '/register',

  {
    "name": name,
    "age": age,
    "key": key
  },

{headers: {
        'Access-Control-Allow-Origin': '*',
        'Content-Type': 'application/json'
          }

       }).then(function (response) {
          console.log(response)
    });

  })

});


</script>


{% endblock %}

<!-- I WAS CLOSE:)) -->

<!-- {
     method: "POST",
     url: "/register",

     body: JSON.stringify({
       "name": name,
       "age": age,
       "key": key
     }),

     headers: {
       "baseURL": 'http://localhost:5000',
       "Content-type": "application/json; charset=UTF-8"
     }
}
.then(response => response.json())
.then(json => console.log(json)) -->
