<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Autocompletion-4</title>
    </head>
    <body>

        <input autocomplete="off" autofocus placeholder="Query" type="text">

        <lu></lu>

        <script src="dictionary_large.js"></script>

        <script>

            let input = document.querySelector('input');
            input.onkeyup = function() {
                let html = '';
                if (input.value) {
                    for (word of WORDS) {
                        if (word.startsWith(input.value)) {
                            html += '<li>' + word + '</li>';
                        }
                    }
                }
                document.querySelector('ul').innerHTML = html;
            };

        </script>


    </body>
</html>
