{% extends "layout.html" %}

{% block body %}

    <h1>Search for user.</h1>
    <div class="container">
        <form action="/get-user" method="post" id="get_user_form">
            <fieldset>
                <label>User_ID
                   <input type="text" user_id="user_id" placeholder="user_id" required>
                </label>
                <label>Key
                    <input type="text" key="key" placeholder="Key" required>
                </label>
            </fieldset>
            <button>
                <input class="button-primary" type="submit" value="Submit" form="get_user_form">
            </button>
        </form>
    </div>

{% endblock %}
